img {
  vertical-align: middle;
}

#slideshow_container {
  width: 600px;
  height: 400px;
  position: absolute;
}

#slideshow_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  display: none;
}
#slideshow_container .current-slide {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
  background-color: rgba(192,192,192, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  background-color: rgba(0,0,0,0.8);
}
