header, main {
    max-width: 600px;
    margin: auto;
    padding: 0 40px;
    background-color: darkgray;
    font: normal 20px 'Droid Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    color: white;
}

h1 {
    font-size: 24px;
}

input, select {
    border: none;
    border-bottom: 2px solid;
}

input:focus,
select:focus {
    outline: none;
}

.search-field {
    background: none;
    color: white;
    font-size: 18px;
    border-color: white;
}

.search-field::placeholder {
    color: white;
    font-size: 18px;
}

main {
    color: black;
    background: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.new-task {
    display: flex;
    justify-content: space-between;
    margin:10px;
}

.new-task input {
    width: 100%;
    font-size: 18px;
    color: lightgray;
    border-color: lightgray;
}

.add-btn {
    background: white;
    margin-left: 30px;
    padding: 10px 30px;
    border: 2px solid grey;
}

.container {
    margin: 20px 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-title {
    font-size: 20px;
}

.sort-selector {
    border-color: lightgray;
    font-size: 18px;
}

.clear-list-btn {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
}

.card {
    display: flex;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    min-height: 28px;
}

.card:hover .delete-btn {
    display: block;
}

.card-text {
    padding: 0 40px 0 20px;
}

.card-text input {
    border: none;
    font-size: 18px;
}

.time {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.time span {
    display: block;
}

.delete-btn {
    display: none;
    background: no-repeat url('../img/garbage-icon.svg') center center;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    border: none;
}

.hidden {
    display: none;
}

