body {
  font-family: "Lucida Console", Courier, monospace;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  background-color: dimgray;
}

td {
  border: 2px solid black;
  padding: 10px;
  text-align:center;
}

.remove_cell {
  width: 5%;
  background: center no-repeat url("garbage-icon.svg");
}

.add {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 8px 32px;
  margin: 20px 0;
  font-size: 20px;
  cursor: pointer;
}
